services:
  weiss-demoioc:
    build:
      context: "./examples/exampleIOC/"
    image: weiss-demoioc:${VITE_APP_VERSION}
    container_name: weiss-demoioc
    restart: always
    network_mode: host
    tty: true
    stdin_open: true

  weiss-dev:
    build:
      context: "."
      target: dev
      args:
        GIT_REPO: ${GIT_REPO}
        VITE_APP_VERSION: ${VITE_APP_VERSION}
    volumes:
      - .:/app # Mount the source code for development
      - /app/node_modules # Prevent host node_modules from interfering
    image: weiss-dev:${VITE_APP_VERSION}
    container_name: weiss-dev
    network_mode: host
    restart: always
    environment:
      NODE_ENV: development
      VITE_DEMO_MODE: ${VITE_DEMO_MODE:-false}
      VITE_APP_VERSION: ${VITE_APP_VERSION}
    depends_on:
      - weiss-epicsws-dev
      - weiss-api-dev
  weiss-epicsws-dev:
    build:
      context: ./backend/epicsWS
    volumes:
      - ./backend/epicsWS:/app
    image: weiss-epicsws-dev:${VITE_APP_VERSION}
    container_name: weiss-epicsws-dev
    ports:
      - "8080:8080"
    restart: always
    environment:
      EPICS_DEFAULT_PROTOCOL: ${EPICS_DEFAULT_PROTOCOL}
      EPICS_CA_ADDR_LIST: ${EPICS_CA_ADDR_LIST}
      EPICS_PVA_ADDR_LIST: ${EPICS_PVA_ADDR_LIST}

  weiss-api-dev:
    build:
      context: ./backend/api
    volumes:
      - ./backend/api:/app/api
      - ${REPOS_MOUNT_PATH}:/app/storage/repos
    image: weiss-api-dev:${VITE_APP_VERSION}
    container_name: weiss-api-dev
    ports:
      - "8000:8000"
    restart: always
    environment:
      MS_AUTH_CLIENT_ID: ${MS_AUTH_CLIENT_ID}
      MS_AUTH_TENANT_ID: ${MS_AUTH_TENANT_ID}
      MS_AUTH_CLIENT_SECRET: ${MS_AUTH_CLIENT_SECRET}
      FRONTEND_URL: ${FRONTEND_URL}
