services:
  weiss:
    build:
      context: "."
      target: prod
      args:
        GIT_REPO: ${GIT_REPO}
        VITE_APP_VERSION: ${VITE_APP_VERSION}
        VITE_DEMO_MODE: ${VITE_DEMO_MODE}
    image: weiss:${VITE_APP_VERSION}
    container_name: weiss
    network_mode: host
    restart: always
    environment:
      NODE_ENV: production
      ENABLE_HTTPS: ${ENABLE_HTTPS:-false}
      SSL_CERT_FILE: ${SSL_CERT_FILE:-./nginx/certs/example-fullchain.pem}
      SSL_KEY_FILE: ${SSL_KEY_FILE:-./nginx/certs/example-privkey.pem}
    volumes:
      - ${SSL_CERT_FILE}:/etc/nginx/certs/fullchain.pem:ro
      - ${SSL_KEY_FILE}:/etc/nginx/certs/privkey.pem:ro
    depends_on:
      - weiss-epicsws

  weiss-epicsws:
    build:
      context: ./backend/epicsWS
    image: weiss-epicsws:${VITE_APP_VERSION}
    container_name: weiss-epicsws
    ports:
      - "8080:8080"
    restart: always
    environment:
      EPICS_DEFAULT_PROTOCOL: ${EPICS_DEFAULT_PROTOCOL}
      EPICS_CA_ADDR_LIST: ${EPICS_CA_ADDR_LIST}
      EPICS_PVA_ADDR_LIST: ${EPICS_PVA_ADDR_LIST}

  weiss-api:
    build:
      context: ./backend/api
    volumes:
      - ./backend/api:/app/api
    image: weiss-api:${VITE_APP_VERSION}
    container_name: weiss-api
    ports:
      - "8000:8000"
    restart: always
    environment:
      MS_AUTH_CLIENT_ID: ${MS_AUTH_CLIENT_ID}
      MS_AUTH_TENANT_ID: ${MS_AUTH_TENANT_ID}
      MS_AUTH_CLIENT_SECRET: ${MS_AUTH_CLIENT_SECRET}
