.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.designerArea {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  margin-top: 64px; /* Height of AppBar Toolbar (default MUI) */
}

.widgetSelector {
  height: 100%;
}

#gridContainer {
  height: calc(100% - 64px);
  width: 100%;
  position: absolute;
}

.propertyPanel {
  height: 100%;
}
